body {
    margin: 0;
    padding: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    
    background-color: #2d3436;
    
    font-family: 'Courier New', monospace;
    
    flex-direction: column;
    
    overflow: hidden;
}

#gameContainer {
    text-align: center;
}

#gameCanvas {
    border: 5px solid #2b331a;
    
    background-color: #add462;
    
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#gameTitle {
    color: #74b9ff;
    
    font-size: 30px;
    
    margin-bottom: 5px;
    
    font-weight: bold;
    
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

#score {
    color: #00b894;
    
    font-size: 30px;
    
    margin-top: 5px;
    
    font-weight: bold;
    
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

#highScore {
    color: #fdcb6e;
    
    font-size: 18px;
    
    margin-top: 5px;
    
    font-weight: bold;
    
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

#gameOver {
    color: #e17055;

    font-size: 20px;
    
    margin-top: 5px;
    
    display: none;
}

#instructions {
    color: #74b9ff;
    
    font-size: 14px;
    
    margin-top: 10px;
}
